<div class="waste"
cdkDropList
cdkDropListSortingDisable
id="wasteDropList"
[cdkDropListData]="cards"
[cdkDropListConnectedTo]="['foundation-diamonds-dropList', 'foundation-hearts-dropList', 'foundation-spades-dropList', 'foundation-clubs-dropList', 'tableau-1-dropList', 'tableau-2-dropList', 'tableau-3-dropList', 'tableau-4-dropList', 'tableau-5-dropList', 'tableau-6-dropList', 'tableau-7-dropList']"
(cdkDropListDropped)="onDrop($event)">
  <klondike-card
  *ngFor="let card of cards; index as i" 
  [card]="card" 
  cdkDrag
  cdkDragBoundary=".board-boundary" 
  [cdkDragDisabled]="!((i+1) == cards.length)"
  [cdkDragData]="card"
  (cdkDragMoved)="onDragMove($event)"
  (cdkDragReleased)="onDragReleased($event)"></klondike-card>
</div>
