<div class="board-boundary">
  <div class="flex-container-row top-bar-container">
    <div class="flex-container-item">
      <main class="flex-container-item top-bar">
        <!-- TOP BAR -->
        <klondike-stock (newCardClick)="onNewCardClicked()" (emptyStockClick)="onEmptyStockClicked()" [stock]="stock"></klondike-stock>
        <klondike-waste [waste]="waste"></klondike-waste>

        <klondike-foundation *ngFor="let foundation of foundations" (cardPush)="onCardPushed($event)" [foundation]="foundation">
        </klondike-foundation>
        <!-- ./TOP BAR -->
      </main>
    </div>
  </div>
  <div class="flex-container-column main-board-container">
    <div class="flex-container-item">
      <main class="flex-container-item main-board">
        <!-- MAIN BOARD -->

        <klondike-tableau *ngFor="let tableau of tableaus" [tableau]="tableau"></klondike-tableau>

        <!--./ MAIN BOARD -->
      </main>
    </div>
    <footer class="flex-container">&copy; Klondike - UPM - Ericsson</footer>
  </div>
</div>
