<!--The content below is only a placeholder and can be replaced.-->
<div style="height: 100%;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Klondike</span>
      <span class="timer">{{matchTimeString}}</span>
      <button [@startGameAnimation]="isUp ? 'up': 'down'" mat-fab  class="start-button" color="primary" (click)="onStart()"> {{ isUp ? 'New Game': 'Restart' }}</button>
      <button [@endGameAnimation]="isUp ? 'up': 'down'" [disabled]="isUp" mat-fab class="stop-button" (click)="onStop()">End</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <klondike-board #board [isReady]="!isUp"></klondike-board>
</div>

<router-outlet></router-outlet>
