<!--The content below is only a placeholder and can be replaced.-->
<div style="height: 100%;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Klondike</span>
      <span class="timer">{{matchTimeString}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <klondike-board #board [isReady]="!isNewGameButtonShown"></klondike-board>
</div>

<button [@startGameAnimation]="isNewGameButtonShown ? 'up': 'down'" mat-fab class="start-button" color="primary"
  (click)="onStart()">
  {{ isNewGameButtonShown ? 'New Game': 'Restart' }}</button>
<button [@gameModeAnimation]="isNewGameButtonShown ? 'up': 'down'" mat-fab class="game-mode-button"
  [ngClass]="{'easy': isOneModeEnabled(), 'hard': !isOneModeEnabled()}" (click)="onStart()">
  {{ isOneModeEnabled() ? 'One card': 'Three cards' }}</button>
<button [@endGameAnimation]="isNewGameButtonShown ? 'up': 'down'" [disabled]="isNewGameButtonShown" mat-fab
  class="stop-button" (click)="onStop()">End</button>



<mat-button-toggle-group *ngIf="isNewGameButtonShown" [(ngModel)]="selectedMode" name="fontStyle"
  aria-label="Font Style">
  <mat-button-toggle [ngClass]="{'enabled': isOneModeEnabled(), 'disabled': !isOneModeEnabled()}" value="1">One card
  </mat-button-toggle>
  <mat-button-toggle [ngClass]="{'enabled': !isOneModeEnabled(), 'disabled': isOneModeEnabled()}" value="3">Three cards
  </mat-button-toggle>
</mat-button-toggle-group>
