@import '../../klondike-theme.scss';

/* Variables */
$primary: map-get($klondike-app-theme, klondike-app-primary);
$accent: map-get($klondike-app-theme, klondike-app-accent);
$warn: map-get($klondike-app-theme, klondike-app-warn);

:host {
  height: 100%;

  .timer {
    position: absolute;
    margin-top: 0.4%;
    right: 3%;
    font-size: medium;
  }

  .start-button {
    position: absolute;
    top: 87%;
  }

  .stop-button {
    background-color: mat-color($klondike-app-warn, darker);
    color: white;
    position: absolute;
    top: 87%;
    right: 1%;
  }
}
