@import '../../klondike-theme.scss';

/* Variables */
$primary: map-get($klondike-app-theme, klondike-app-primary);
$accent: map-get($klondike-app-theme, klondike-app-accent);
$warn: map-get($klondike-app-theme, klondike-app-warn);

:host {
  height: 100%;

  .timer {
    position: absolute;
    margin-top: 0.4%;
    right: 3%;
    font-size: medium;
  }

  .start-button {
    position: absolute;
    top: 87%;
  }

  .game-mode-button {
    position: absolute;
    border-radius: 57px;
    height: 65px;
    width: 132px;
    top: 86%;
    left: 45.9%;
    z-index: 100;
    color: white;

    &.easy {
      background-color: #8BC34A;
    }

    &.hard {
      background-color: mat-color($klondike-app-warn);
    }
  }

  .stop-button {
    background-color: mat-color($klondike-app-warn, darker);
    color: white;
    position: absolute;
    top: 87%;
    right: 1%;
  }

  mat-radio-group {
    position: absolute;
    top: 80%;
    left: 40%;

    .mat-radio-button~.mat-radio-button {
      margin-left: 16px;
    }
  }

  mat-button-toggle-group {
    position: absolute;
    border: transparent;
    top: 70%;
    left: 40.5%;
    height: 120px;

    mat-button-toggle {
      border-radius: 5%;
      margin: 5%;
      color: transparent;

      &.enabled {
        opacity: 1;
      }

      &.disabled {
        opacity: 0.5;
      }

      &:nth-child(1) {
        // background: url(../../assets/cards/spades/1.svg) no-repeat;
        background: url("../../assets/cards/diamonds/1.svg") no-repeat;
        width: 100px;
      }

      &:nth-child(2) {
        background-image: url("../../assets/cards/spades/11.svg"), url("../../assets/cards/hearts/12.svg"), url("../../assets/cards/clubs/13.svg");
        background-position: right bottom, center bottom, left top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        width: 200px;
      }
    }
  }
}
